<router-outlet>
  <div style="position: relative; text-align: center;">
    <img [src]="imgPath" alt="Cabecera" style="width: 100%; height: 350px;">

  </div>
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; font-size: 32px; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);">
    <span style="color: yellow;">Datos Predictivos</span> Doña Bere
  </div>
<div class="container">
  <h1 class="title">Predicción de Platos</h1>

  <div class="form-container">
    <div class="form-group">
      <label for="clima">Clima:</label>
      <select id="clima" [(ngModel)]="clima" name="clima">
        <option value="" disabled selected>Seleccione el clima</option>
        <option *ngFor="let option of climaOptions" [value]="option">{{ option }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="dia">Día:</label>
      <select id="dia" [(ngModel)]="nombreDia" name="dia">
        <option value="" disabled selected>Seleccione el día</option>
        <option *ngFor="let option of diaOptions" [value]="option">{{ option }}</option>
      </select>
    </div>

    <div class="form-group checkbox">
      <label>
        <input type="checkbox" [(ngModel)]="esFinDeSemana" name="finDeSemana">
        ¿Fin de semana?
      </label>
    </div>

    <button (click)="onSubmit()" class="submit-btn">Predecir</button>
  </div>

  <div *ngIf="predictions" class="predictions">
    <h2>Predicciones:</h2>
    <ul>
      <li *ngFor="let item of predictions | keyvalue">
        <strong>{{ item.key }}:</strong> {{ item.value }}
      </li>
    </ul>
  </div>
</div>


</router-outlet>
